bcrypt==4.2.0
Flask==3.0.3
Flask-SocketIO==5.3.6
faiss-cpu==1.8.0.post1
langchain==0.2.12
langchain-community==0.2.11
langchain-openai==0.1.20
openai==1.38.0
markdown==3.4.3
rank-bm25==0.2.2
sentence-transformers==3.0.1
gunicorn==22.0.0